body {
    margin: 10;
    font-family: sans-serif;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

a:link {
    color: red;
  }
  

  a:visited {
    color: green;
  }
  
  
  a:hover {
    color: hotpink;
  }
  

  a:active {
    color: blue;
  }